{% extends 'base.html.twig' %}

{% block title %}Media index{% endblock %}

{% block body %}
    <h1>Media index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>ShortDescription</th>
                <th>LongDescription</th>
                <th>ReleaseDate</th>
                <th>CoverImage</th>
                <th>Staff</th>
                <th>Casting</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for medium in media %}
            <tr>
                <td>{{ medium.id }}</td>
                <td>{{ medium.title }}</td>
                <td>{{ medium.shortDescription }}</td>
                <td>{{ medium.longDescription }}</td>
                <td>{{ medium.releaseDate ? medium.releaseDate|date('Y-m-d') : '' }}</td>
                <td>{{ medium.coverImage }}</td>
                <td>{{ medium.staff ? medium.staff|json_encode : '' }}</td>
                <td>{{ medium.casting ? medium.casting|json_encode : '' }}</td>
                <td>
                    <a href="{{ path('app_admin_media_show', {'id': medium.id}) }}">show</a>
                    <a href="{{ path('app_admin_media_edit', {'id': medium.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_admin_media_new') }}">Create new</a>
{% endblock %}
